@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../../node_modules/preline/variants.css";
@import "flowbite/src/themes/default";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

[aria-selected="true"] {
    @apply bg-white text-gray-900 shadow-sm;
}

body {
    font-family: "Inter", sans-serif;
}

.box-login {
    border-radius: 20px 20px 0px 0px;
}

.box-logo {
    border-radius:  0px 0px 20px 20px;
}

.datepicker-cell.selected {
    @apply bg-sky-600 text-white;
}

/* Altera a cor quando o mouse passa por cima do dia SELECIONADO */
.datepicker-cell.selected:hover {
    @apply bg-sky-700;
}

/* Altera a cor do destaque do dia de HOJE (quando ele não está selecionado) */
.datepicker-cell.today {
    @apply bg-sky-100 text-sky-700 dark:bg-sky-900/50 dark:text-white font-semibold;
}

/* Altera a cor quando o mouse passa por cima do dia de HOJE */
.datepicker-cell.today:hover {
     @apply bg-sky-200 dark:bg-sky-900;
}


button[data-carousel-slide-to][aria-current="true"] {
    @apply bg-sky-600 border-sky-600;
}

.shadow-labor {
    box-shadow: 0 6px 22.8px 0 rgba(0, 0, 0, 0.06);
}

.bg-labor {
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(6.300000190734863px);
}

.icon-btn {
    background-color: transparent;
}

.box {
    height: 80vh;
}

.border-match {
    border-radius: 3rem;
}

.border-btn {
    border-radius: 2rem;
}

.match-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    backdrop-filter: blur(13.800000190734863px);
}

/*Aqui tem as animações do card de vagas curtidas*/
.floating-heart {
  position: fixed;
  bottom: -40px;
  pointer-events: none;
  animation-name: floatHeartUp;
  animation-timing-function: ease-out;
  opacity: 0.9;
  z-index: 9999;
}

@keyframes floatHeartUp {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.6) rotate(360deg);
    opacity: 0;
  }
}
